.footer {
    color: rgb(102, 102, 102);
    background: rgb(255, 255, 255);
    margin: 130px 30px;
}

.footerArea {
    width: 100%;
    border-bottom: 1px solid rgb(172, 172, 172);
    border-top: 3px solid rgb(241, 195, 51);
}

.footerMenu {
    text-align: center;
    display: block;
}

.ft-menu {
    cursor: pointer;
    display: inline-block;
    padding: 10px 14px 11px;
    font-size: 12px;
    color: rgb(102, 102, 102);
    letter-spacing: -0.5px;
}

.pageInfo {
    display: flex;
    width: 1056px;
    margin: 0px auto;
    position: relative;
    padding: 32px 0px;
}

.brandName {
    font-size: 12px;
    font-weight: bold;
    
}

.ft-ceo {
    list-style: none;
}

.ft-ceo-str {
    margin-top: 10px;
    font-size: 12px;
    height: 18px;
}

.ft-warnMessage {
    font-size: 10px;
    vertical-align: middle;
    display: inline-block;
    margin-top: 16px;
}

.copyright {
    display: block;
    margin-top: 8px;
    font-size: 10px;
}

.contact {
    display: block;
    margin-left: 40px;
}

.customerService {
    font-size: 12px;
    font-weight: bold;
}

.contactDetail {
    list-style: none;
    margin-top: 20px;
}

.contactInfo {
    font-size: 12px;
    height: 18px;
}