.cartDiv {
    padding-top: 20px;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.cartHead {
    height: 40px;
    background-color: #f1c333;
}

.product_quantity {
    text-align: center;
    border: 1px solid lightgray;
    width: 61px;
    height: 40px;
    background: transparent;
    font-size: 16px;
    font-weight: bold;
    border-right: 1px solid #eee;
    color: #111;
    line-height: 25px;
    padding: 11px 0 9px 0;
}

.quantity_td {
    height: 125px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.cartBody {
    height: 100px;
}

.quantity_btn {
    display: flex;
    flex-direction: column;
    padding-left: 3px;
    padding-top: 5px;
    width: 25px;
}

.pname {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pname p {
    padding-left: 20px;
}

.pname_img {
    width: 150px;
    height: 100px;
}

.upIcon, .downIcon, .trashcanIcon {
    cursor: pointer;
}

.cartDiv tr {
    border: 2px solid gray;
}

.cartDiv td {
    border-bottom: 1px solid #444444;
    padding: 10px;
}

.total-price {
    margin-top: 50px;
    width: 60%;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.buy_product {
    margin-top: 20px;
    width: 60%;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
}

.buy_product_btn {
    font-weight: 200;
    border-radius: 3px;
    border: 1px solid transparent;
    text-align: center;
    cursor: pointer;
    background: rgb(241, 195, 51);
    color: rgb(255, 255, 255);
    font-size: 16px;
    width: 100px;
    height: 40px;
}

.no_cart_data {
    margin-top: 100px;
    text-align: center;
}

.exclamation-mark {
    height: 36px;
    padding-bottom: 25px;
}

.cart_price {
    font-weight: bold;
}