.cart_modal_wrapper {
    background-color: #fff;
    border: 1px solid #f1c333;
    border-radius: 5px;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    justify-content: center;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 350px;
    z-index: 1;
}

.keep_shopping {
    background-color: #f1c333;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    height: 45px;
    width: 120px;
    font-size: 16px;
    cursor: pointer;
}

.show_cart {
    border: 1px solid #f1c333;
    border-radius: 5px;
    color: #f1c333;
    font-weight: bold;
    background-color: #fff;
    height: 45px;
    width: 120px;
    font-size: 16px;
    cursor: pointer;
}

.cart_message {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    width: 100%
}

.cart_modal_btnWrap {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 0 20px 10px;
    width: 100%;
}

.cart_ico {
    margin-top: 30px;
    height: 35px;
    width: 35px;
}