.dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

.dialog_wrap {
    position: absolute;
    top: 60%;
    left: 88%;
    width: 400px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    transform: translateX(-50%) translateY(-50%);
    overflow: scroll;
}

.dialog_wrap::-webkit-scrollbar {
    width: 3px;
}

.dialog_wrap::-webkit-scrollbar-thumb {
    background-color: black;
}

.dialog_header {
    height: 10%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color:white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 20px;
}

.dialog_title {
    font-size: 18px;
    font-weight: bold;
}

.dialog_close {
    font-size: 20px;
    color: rgb(139, 139, 139);
    font-weight: 900;
    cursor: pointer;
}

.dialog_img {
    width: 80px;
    height: 80px;
}

.recent_count {
    display: flex;
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
}

.count_num {
    font-weight: bold;
    color: #3c9a17;
}

.dialog_count {
    display: flex; 
}

.dialog_detail {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #eaeaea;
    margin: 20px;
    border-radius: 10px;
}

.dialog_detail_title {
    font-size: 14px;
    overflow: hidden;
    font-weight: 500;
    color: black;
}

.dialog_detail_price {
    font-weight: bold;
    color: black;
}