.floating_wrapper {
    position: fixed;
    display: block;
    width: 100px;
    right: 10px;
    bottom: 50px;
    z-index: 101;
    background-color: transparent;
}

.btn_history {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border: 1px solid #000;
    border-radius: 100%;
    overflow: visible;
    cursor: pointer;
}

.img_box {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-sizing: border-box;
}

.img_box img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 100%;
}

.count_recent {
    position: absolute;
    top: -3px;
    right: -3px;
    display: block;
    min-width: 20px;
    height: 20px;
    padding: 2px 2px 0 3px;
    border-radius: 100%;
    background-color: #5055b1;
    font-size: 11px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
}